# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assets.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\noanc\Documents\Epita\PROJET S2\ange.mouquet\Squashed\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
